name: JSON Format Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  validate-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            **/*.json

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Validate JSON files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          echo "Checking JSON files..."
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "Validating $file"
            jq empty "$file"
          done

      - name: No JSON files changed
        if: steps.changed-files.outputs.any_changed != 'true'
        run: echo "No JSON files modified."